.container{
display: flex;
gap:100px;
}
.textContainer{
flex: 1;
display: flex;
flex-direction: column;
gap: 50px;
}
.title{
 font-size: 96px;
}
.desc{
 font-size: 20px;
}
.buttons{
display: flex;
gap: 20px;
}
.button{
 padding: 20px;
 min-width:120px;
 cursor: pointer;
 border: none;
 border-radius: 5px;

}
.button:first-child{
 background-color: yellowgreen;
 color: var(--text);
}
.button:last-child{
 background-color: var(--btn);
 color: var(--text);
}

.brands{
 width: 500px;
 height: 200px;

 filter: grayscale(1);
}

.imgContainer{
position: relative;
flex: 1;
}

@media (max-width: 1024px){
.container{
 flex-direction: column;
}
}

@media (max-width: 768px){
 .container{
  font-size: 64px;
 }
 .brands{
  width: 100%;
 }
 }